img {
    width: 100%;
    min-height: 100px;
    object-fit: cover;
  }
  
  .body {
    /* background-image: "; */
    background-size: cover;
  }
  
  #top {
    /* background: url(/src/styles/backgroundPicture.png) no-repeat center center */
      /* fixed; */
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 100px;
  }
  .landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    /* padding-bottom: 20px; */
    /* margin-bottom: 40px; */
  }
  .landing-text h1 {
    font-size: 500%;
    font-weight: 700;
  }
  .space{
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
  
  ul {
    list-style: none inside none;
  }
  .list {
    font-size: large;
    font-weight: bold;
    padding: 50px;
  }